{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">National Insurance or HMRC reference number</h1>

      <form class="form" action="/url/of/next/page" method="post">

        {{ govukInput({
          label: {
            text: "HMRC reference number"
          },
          hint: {
            text: "This must be a reference for an active Self Assessment. It will be 10 characters long. If you're in a partnership, enter your individual reference number."
          },
          classes: "govuk-input--width-10",
          id: "national-insurance-number",
          name: "national-insurance-number",
          spellcheck: false
        }) }}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "hmrc-ref",
          name: "hmrc-ref",
          fieldset: {
            legend: {
              text: "What type of HMRC reference number did you use?"
            }
          },
          items: [
            {
              value: "individual",
              text: "Self Assessment individual unique taxpayer reference"
            },
            {
              value: "trust",
              text: "Self Assessment trust and estate unique taxpayer reference"
            },
            {
              value: "none",
              text: "None - I am using my National Insurance number"
            }
          ]
        }) }}

        {{ govukInput({
          label: {
            text: "National Insurance number"
          },
          hint: {
            text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
          },
          classes: "govuk-input--width-10",
          id: "national-insurance-number",
          name: "national-insurance-number",
          spellcheck: false
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
