{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What type of person or organisation are you?</h1>

      <form class="form" action="/trustee" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "type",
          name: "type",
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "individual",
              text: "Individual (including a partner in a partnership)"
            },
            {
              value: "trustee",
              text: "Trustee"
            },
            {
              value: "representative",
              text: "Personal representative of a deceased person"
            },
            {
              value: "filing-late",
              text: "Company filing late"
            },
            {
              value: "other",
              text: "Other"
            }
          ]
        }) }}
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
